{
	"gwas_experiments": {"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/CARDIoGRAM_cad.add.160614.website.txt.gz": {"ref": "1kgenomes"},
				"/users/mgloud/projects/brain_gwas/data/gwas/hcasmc/UKBB.GWAS1KG.EXOME.CAD.SOFT.META.PublicRelease.300517.txt.gz": {"ref": "uk10k"},
				"/mnt/lab_data/montgomery/shared/datasets/ukbb/gwas/6150_1.assoc.sorted.tsv.gz": {"ref": "uk10k", "ref_allele_header": "a1", "alt_allele_header": "a2"},
				"/mnt/lab_data/montgomery/shared/datasets/ukbb/gwas/40001_I251.assoc.sorted.tsv.gz": {"ref": "uk10k", "ref_allele_header": "a1", "alt_allele_header": "a2"}},
	"eqtl_experiments": {"/users/mgloud/projects/brain_gwas/data/eqtls/hcasmc/hcasmc_eqtls.txt.gz": {"ref": "1kgenomes"},
			     "/users/mgloud/projects/brain_gwas/data/eqtls/hcasmc/sqtls/hcasmc_sqtls.txt.gz": {"ref": "1kgenomes"}},
	"gwas_threshold": 1e-6,
	"eqtl_threshold": 1e-5,
	"methods": {
		"finemap":{}
	},
        "ref_genomes": {
               "1kgenomes": {
                        "file": "/mnt/lab_data/montgomery/shared/1KG/ALL.chr{0}.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz",
                        "af_attribute": "AF",
                        "N": 2504
                },
                "uk10k": {
                        "file": "/users/mgloud/projects/brain_gwas/data/ref/uk10k/chr{0}.vcf.gz",
                        "ac_attribute": "AC",
                        "N": 1927
                }
        }
}
